img.hover{
    border: 2px solid #42b983;border-radius: 3px;background-color: #fff;opacity: .2;
}
body {
    background: url("../images/gradient.jpg") no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    color: white;
}
.driverfy-song-card {
    background: rgba(0, 0, 0, 0);
    padding-bottom: 1px;
    margin-bottom: 0;
    margin-top: 0;
}
