{% extends 'layout.html' %} {% block body %}


<div class="center-align">


        <img class="responsive-img"  src="{{ url_for('static', filename='images/logo.png')}}" style='width: 75%;height: auto; padding-top: 10%;' />
    </div>




<div class="">
   
        <img class="responsive-img" style="width: 45%;height: auto; left:5%;position:absolute;" src="{{ url_for('static', filename='images/start.png')}}" onmouseover="hover(this);" onmouseout="unhover(this);" />
    </div>
    
    
    <div class="">
   
        <img class="responsive-img" style="width: 45%;height: auto; right:5%; position:absolute;" src="{{ url_for('static', filename='images/join.png')}}" onmouseover="hover2(this);" onmouseout="unhover2(this);" />
    </div>
    


{% endblock %}
