<!DOCTYPE html>
<html>

<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Driverfy</title>
</head>

<body>

    <div class='container'>
        {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/base.js')}}"></script>
    <script type="text/javascript">
        function hover(element) {
            element.setAttribute('src', '{{ url_for('static', filename='images/startgreen.png')}}');
        }
        function unhover(element) {
            element.setAttribute('src', '{{ url_for('static', filename='images/start.png')}}');
        }
        function hover2(element) {
            element.setAttribute('src', '{{ url_for('static', filename='images/joingreen.png')}}');
        }
        function unhover2(element) {
            element.setAttribute('src', '{{ url_for('static', filename='images/join.png')}}');
        }
    </script>
</body>
</html>
