{% extends 'layout.html' %}
{% block body %}

<h2>Your drive key: {{ key }}</h2>

<ul class="collection" id="sortable">
{% for song in songs %}
<li class="collection-item">
    <div class='row'>
        <div class="card-panel z-depth-1 driverfy-song-card">
            <div class="row valign-wrapper">
                <div class='col s2'>
                    <img src="{{ song['track']['album']['images'][2]['url'] }}" class="responsive-img">
                </div>
                <div class='col s10'>
                    <span class='white-text'>
                        {{ song['track']['name'] }}
                    </span>
                    <span class='grey-text'>
                        {{ song['track']['artists']|map(attribute='name')|join(' | ') }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</li>
{% endfor %}
{% endblock %}
</ul>

<script type="text/javascript">
$( "#sortable" ).sortable();
console.log("asdf");
$( "#sortable" ).disableSelection();
</script>
